/* origin is scroll-button-ripple-init */
.ripple-button-ripple-init {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 0.7px solid #2e2f31;
  border-radius: 9999px;
  width: 6.375rem;
  height: 2.5rem;
}

/* origin is footer-contact-clip */
.be-part-of-it-clip {
  clip-path: polygon(2.125rem 0, 100% 0, 100% calc(100% - 2.125rem), 100% 100%, 0 100%, 0 2.125rem);
}

/* pseudo-element to mimic the border */
.be-part-of-it-clip::before {
  --border-width-half: calc(2px / 2);

  content: '';
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  pointer-events: none;
  clip-path: polygon(
    0 0,
    calc(2.125rem - (var(--sqrt2) * var(--border-width-half))) 0,
    0 calc(2.125rem - (var(--sqrt2) * var(--border-width-half)))
  );
  background: white;
}

.be-part-of-it-tag-active-clip {
  position: relative;
  clip-path: polygon(0.40625rem 0, 100% 0, 100% calc(100% - 0.40625rem), 100% 100%, 0 100%, 0 0.40625rem);
}

.be-part-of-it-tag-active-clip::before {
  --border-width-half: calc(1px / 2);

  content: '';
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  pointer-events: none;
  clip-path: polygon(
    0 0,
    calc(0.40625rem - (var(--sqrt2) * var(--border-width-half))) 0,
    0 calc(0.40625rem - (var(--sqrt2) * var(--border-width-half)))
  );
  @apply bg-red-600;
}

.be-part-of-it-tag-inactive-clip {
  position: relative;
  clip-path: polygon(0.40625rem 0, 100% 0, 100% calc(100% - 0.40625rem), 100% 100%, 0 100%, 0 0.40625rem);
}

.be-part-of-it-tag-inactive-clip::before {
  --border-width-half: calc(1px / 2);

  content: '';
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  pointer-events: none;
  clip-path: polygon(
    0 0,
    calc(0.40625rem - (var(--sqrt2) * var(--border-width-half))) 0,
    0 calc(0.40625rem - (var(--sqrt2) * var(--border-width-half)))
  );
  @apply bg-gray-800;
}

.legend-button {
  --border-width: 2px;

  &::before,
  &::after,
  section::after,
  section::before {
    content: '';
    display: block;
    border-width: var(--border-width);
    @apply absolute size-3 border-red-600;
  }
  &::before {
    @apply left-0 top-0 -translate-x-[calc(var(--border-width)/2)] border-b-0 border-r-0;
  }
  &::after {
    @apply right-0 top-0 translate-x-[calc(var(--border-width)/2)] border-b-0 border-l-0;
  }
  & > section::before {
    @apply bottom-0 left-0 -translate-x-[calc(var(--border-width)/2)] border-r-0 border-t-0;
  }
  & > section::after {
    @apply bottom-0 right-0 translate-x-[calc(var(--border-width)/2)] border-l-0 border-t-0;
  }
}
