@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #f0f0f0;
    --foreground: #222222;
    --headerHeight: 9rem;
  }

  *::-webkit-scrollbar {
    display: none;
    width: 0;
    background: transparent;
  }
  body {
    color: var(--foreground);
    background: var(--background);
    @apply font-poppins;
  }

  @media (max-width: 1536px) {
    html {
      font-size: 80%;
    }
  }

  @media (max-width: 1280px) {
    html {
      font-size: 66.67%;
    }
  }

  @media (max-width: 1024px) {
    html {
      font-size: 53.33%;
    }
  }

  @media (max-width: 768px) {
    html {
      font-size: 40%;
    }
  }

  @media (max-width: 640px) {
    html {
      font-size: 33.33%;
    }
  }
}

@layer components {
  .nav-item {
    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -0.625rem;
      height: 2px;
      width: 0;
      transition: width 0.3s;
      background: var(--foreground);
    }

    &.nav-active,
    &:hover {
      width: 100%;

      &::after {
        width: 100%;
      }
    }
  }

  .page-container {
    position: relative;
    width: 100%;
    min-height: calc(100vh - var(--headerHeight));
    background: linear-gradient(180deg, #ffffff 0%, #eeeeee 100%);
    border-radius: 18px 18px 0 0;
    overflow: hidden;
  }

  .vision-title {
    @apply absolute left-1/2 top-20 w-3/4 -translate-x-1/2 text-center font-xirod text-6xl/[4.5rem];
  }

  .svg-border {
    @apply transition-all duration-300 ease-in group-hover:fill-red-600 group-hover:stroke-red-600;
  }

  .svg-text {
    @apply transition-all duration-300 ease-in group-hover:fill-red-600;
  }

  .svg-icon {
    @apply transition-all duration-300 ease-in group-hover:stroke-red-600;
  }
}

@layer utilities {
  .page-height {
    height: calc(100vh - var(--headerHeight));
  }

  .page-hide {
    visibility: hidden;
  }

  .page-title {
    @apply font-xirod text-[2.5rem]/[4.5rem] uppercase;
  }

  .fore-hide {
    clip-path: circle(0);
  }

  .processes-clip {
    background: #222222;
    clip-path: polygon(0.875rem 0, 100% 0, 100% 100%, 0 100%, 0 0.875rem);
  }

  .flex-center {
    @apply flex items-center justify-center;
  }
}
