@import './webgl.css';
@import './components/button.css';
@import './loading.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  outline: none;
}

@layer base {
  :root {
    --background: #f0f0f0;
    --foreground: #000000;
    --nav: #f0f0f0;
    --gradient-from: #ffffff;
    --gradient-to: #cbd6ea;
    --backgroun-point: #ffffff7f;
  }

  /**::-webkit-scrollbar {*/
  /*  display: none;*/
  /*  width: 0;*/
  /*  background: transparent;*/
  /*}*/
  *::-webkit-scrollbar {
    width: 0.375rem;
  }
  @media (max-width: 768px) {
    *::-webkit-scrollbar {
      width: 2px;
    }
  }
  *::-webkit-scrollbar-thumb {
    background-color: #ffffff66;
    backdrop-filter: blur(40px);
  }

  *::-webkit-scrollbar-thumb:hover {
    background-color: #ffffff90;
  }

  body {
    color: #222222;
    background: var(--background);
    overscroll-behavior: none;
    @apply font-poppins mobile:h-full mobile:overflow-hidden;
  }

  .base-background1 {
    background-image: linear-gradient(90deg, var(--gradient-from) 0%, var(--gradient-to) 100%);
  }

  .base-background2 {
    background-image: radial-gradient(#ffffff7f 2px, transparent 0px);
    background-size: 8px 8px;
  }
}

@layer components {
  .nav-item {
    &::after {
      content: '';
      position: absolute;
      left: 50%;
      bottom: -0.625rem;
      height: 2px;
      width: 0;
      transform: translateX(-50%);
      transition: width 0.3s;
      background: var(--foreground);
    }

    &.nav-active,
    &:hover {
      width: 50%;

      &::after {
        width: 50%;
      }
    }
  }

  .page-container {
    position: relative;
    width: 100%;
    min-height: 150svh;
    overflow: hidden;

    &.engagement {
      min-height: 110svh;
    }
    &.value {
      min-height: 400svh;
    }
  }

  .page-container-mobile {
    @apply relative h-full overflow-hidden;
  }

  .list-mark-red-disc li {
    @apply list-inside list-disc marker:text-2xl/5 marker:text-red-600 marker:content-['->_'] mobile:marker:text-xs/3.5;
  }

  .vision-title {
    @apply absolute left-1/2 top-20 w-3/4 -translate-x-1/2 text-center font-xirod text-3xl/12;
    @apply mobile:top-12 mobile:w-[calc(100%-2.5rem)] mobile:p-3 mobile:text-sm/5;
  }

  .svg-border {
    @apply transition-all duration-300 ease-in group-hover:fill-red-600 group-hover:stroke-red-600;
  }

  .svg-text {
    @apply transition-all duration-300 ease-in group-hover:fill-red-600;
  }

  .svg-icon {
    @apply transition-all duration-300 ease-in group-hover:stroke-red-600;
  }

  .bilingual-font {
    /* 设置字体优先级：先尝试 Oxanium (英文)，然后是思源黑体 (中文)，最后是系统默认字体 */
    font-family: var(--font-oxanium), var(--font-source-han-sans-cn), sans-serif;
  }
  .bilingual-font-poppins {
    /* 设置字体优先级：先尝试 poppins (英文)，然后是思源黑体 (中文)，最后是系统默认字体 */
    font-family: var(--font-poppins), var(--font-source-han-sans-cn), sans-serif;
  }
}

@layer utilities {
  .page-height {
    height: 100svh;
  }

  .page-hide {
    visibility: hidden;
  }

  .page-title {
    @apply font-xirod text-[2.5rem]/[4.5rem] uppercase;
    @apply whitespace-pre-wrap mobile:-mr-3 mobile:text-xl/7.5;
  }

  .fore-hide {
    clip-path: circle(0);
  }

  .processes-clip {
    background: #222222;
    clip-path: polygon(0.875rem 0, 100% 0, 100% 100%, 0 100%, 0 0.875rem);
  }

  .value-tag-border-clip {
    clip-path: polygon(100% 0%, 100% 0, 100% 100%, 0 100%, 0 16px, 16px 0);
  }

  .flex-center {
    @apply flex items-center justify-center;
  }

  .submit-btn {
    clip-path: polygon(0.875rem 0, 100% 0, 100% 100%, 0 100%, 0 0.875rem);
    @apply relative w-full cursor-pointer bg-red-600 py-3 text-base/5 font-semibold text-white;
    @apply hover:after:opacity-20;

    &::after {
      content: '';
      position: absolute;
      inset: 0;
      background: white;
      opacity: 0;
    }
  }
  .clip-box {
    position: relative;
    background: #22222299;
    cursor: pointer;
    transform: rotateY(-5deg) rotateX(8deg);

    &:hover {
      transform: rotateY(-5deg) rotateX(8deg) scale(1.1) translateY(-30px);
    }
  }

  .page-value-card {
    perspective: 2000px;
    perspective-origin: center right;
    transform: translateX(-120%);
  }

  .footer-box-clip {
    clip-path: polygon(2.125rem 0, 100% 0, 100% calc(100% - 2.125rem), calc(100% - 2.125rem) 100%, 0 100%, 0 2.125rem);
  }

  .footer-contact-clip {
    clip-path: polygon(2.125rem 0, 100% 0, 100% calc(100% - 2.125rem), 100% 100%, 0 100%, 0 2.125rem);
  }

  .footer-submit-clip {
    clip-path: polygon(0.75rem 0, 100% 0, 100% 100%, 0 100%, 0 0.75rem);
  }
  .scroll-button-ripple-init {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 0.7px solid black;
    border-radius: 9999px;
    width: 122px;
    height: 40px;
  }

  .hide-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .clip-sponsor-content {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 100% calc(100% - 1.25rem), calc(100% - 1.25rem) 100%, 0 100%, 0 100%, 0 0);
    clip-path: polygon(0 0, 100% 0, 100% 0, 100% calc(100% - 1.25rem), calc(100% - 1.25rem) 100%, 0 100%, 0 100%, 0 0);
  } 
}
