#particle-container {
  pointer-events: none;
  opacity: 0;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: -1;
}

#particle-container .particle-mask {
  /* background-color: ; */
  position: absolute;
  inset: 0;
}
#particle-container.active {
  opacity: 0.8;
  pointer-events: auto;
}
@media screen and (max-width: 768px) {
  #particle-container {
    pointer-events: none;
    opacity: 0;
    position: fixed;
    top: 65%;
    left: 85%;
    transform: translateX(-50%) translateY(-50%);
    z-index: -1;
  }
}
